@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

#solokasa {
    margin-right: 15px;
}

#solokasa .card {
    max-width: none;
}

#solokasa .version {
    color: #aaa;
    font-size: 16px;
    margin-left: 10px;
}

#solokasa .kasaHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/************************************************************/
/***    TOOLBAR CSS   ***/
/************************************************************/
#solokasa .toolbar {
    display: flex;
    align-items: baseline;
    gap: 25px;
    margin-bottom: 8px;
}

/************************************************************/
/***    PAYMENT TABLE CSS   ***/
/************************************************************/
#solokasa .payment {
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-family: "Oswald", sans-serif;*/
    font-optical-sizing: auto;
    border-collapse: collapse;
    width: 100%;
}

#solokasa .payment td,
#solokasa .payment th {
    border: 1px solid #ddd;
    padding: 8px;
}

#solokasa .payment th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e0e0e0;
    color: #333333;
}

#solokasa .payment tr {
    background-color: #fff;
}

#solokasa .payment tr:hover {
    background-color: #eee;
}

#solokasa .btnLoadMore {
    margin-top: 24px;
    text-align: center;
}

/*
#solokasa .payment tr:nth-child(even) {
    background-color: #f2f2f2;
}
*/


/************************************************************/
/***    ADD PAYMENT CSS   ***/
/************************************************************/
#solokasa .card {
    padding: 0;
}

#solokasa .card h2 {
    background-color: #eee;
    padding: 20px 20px;
    margin-top: 0;
}

#solokasa .card form {
    margin: 10px 40px;
    display: flex;
    flex-direction: column;
}

#solokasa .card form .formRow {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 10px;
}

#solokasa .card form label {
    display: inline-block;
    line-height: 25px;
    width: 95px;
    text-align: right;
    margin-right: 1.5em;
}

#solokasa .card form .error {
    margin-left: 35px;
    color: red;
    font-style: italic;
    font-size: small;
}

#solokasa .card form input,
#solokasa .card form textarea,
#solokasa .card form select {
    width: 360px;
}

/************************************************************/
/***    MINI INFO CSS   ***/
/************************************************************/
#solokasa .miniInfo {
    width: 100%;
    margin-bottom: 2em;
    padding: 6px 0;
    background-color: #fff;
    border: 1px solid #eee;
}
#solokasa .miniInfo .priceBar {
    display: flex;
    justify-content: center;
}
#solokasa .miniInfo .switchBar {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
#solokasa .miniInfo .switchBar a {
    text-decoration: none;
    color: #333;
    background-color: #ddd;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 500;
}
#solokasa .miniInfo .switchBar a:hover {
    background-color: #aaa;
}
#solokasa .miniInfo .infoBoxIncome {
    padding: 32px 32px;
    font-weight: 900;
    text-align: right;
    border-right: 1px solid #ccc;
}
#solokasa .miniInfo .infoBoxExpense {
    padding: 32px 32px;
    font-weight: 900;
}
#solokasa .miniInfo .infoBoxIncome .title {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 18px;
    color: green;
}
#solokasa .miniInfo .infoBoxExpense .title {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    margin-bottom: 18px;
    color: red;
    text-align: left;
}
#solokasa .miniInfo .amount {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 36px;
    color: #666;
}