<div class="card">
    <h2 class="title">Yeni Ödeme Ekle</h2>

    <form hx-post="<?php echo $adminURL ?>?action=addPayment" hx-trigger="submit" x-data="{ status: '' }">
        <div class="formRow">
            <label for="type">İşlem Türü</label>
            <select name="type" id="type">
                <option value="gelir">Gelir</option>    
                <option value="gider">Gider</option>    
            </select>
        </div>

        <div class="formRow">
            <label for="customer">Müşteri</label>
            <input name="customer" id="customer" type="text" required>
        </div>

        <div class="formRow" x-data="{ today: new Date().toISOString().slice(0, 10) }">
            <label for="date">Tarih</label>
            <input name="date" id="date" type="date" x-model="today"> 
        </div>
        <div class="formRow">
            <label for="description">Açıklama</label>
            <textarea rows="3" name="description" id="description"></textarea>
        </div>

        <div class="formRow">
            <label for="status">Durum</label>
            <select name="status" id="status" x-model="status">
                <option value="bekliyor">Bekliyor</option>    
                <option value="kismi-odeme">Kısmi Ödendi</option>    
                <option value="odendi">Ödendi</option>    
            </select>
        </div>

        <div class="formRow">
            <label for="total">Tutar</label>
            <input name="total" id="total" type="text" required>
        </div>

        <div class="formRow" x-show="status == 'kismi-odeme'" x-cloak>
            <label for="remainder">Kalan</label>
            <input name="remainder" id="remainder" type="text">
        </div>

        <div class="formRow" style="margin-top: 24px">
            <label></label>
            <input type="submit" name="submit" id="submit" class="button button-primary" value="Bilgileri Kaydet">
        </div>
    </form>
</div>