<style>
    tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
    }
</style>

<div class="toolbar">
    <h3>Hareket Listesi</h3>
    <a href="/wp-admin/admin.php?page=kasa&module=add" class="button button-primary">Hareket ekle</a>
</div>

<div class="miniInfo"
    hx-get="<?php echo $adminURL ?>?action=getPaymentInfo&currency=lira"
    hx-target=".priceBar"
    hx-trigger="load">

    <div class="priceBar" style="text-align: center">Loading...</div>
    <div class="switchBar">
        <a href="#" hx-get="<?php echo $adminURL ?>?action=getPaymentInfo&currency=lira">&#8378;</a>
        <a href="#" hx-get="<?php echo $adminURL ?>?action=getPaymentInfo&currency=dolar">&#36;</a>
        <a href="#" hx-get="<?php echo $adminURL ?>?action=getPaymentInfo&currency=euro">&#8364;</a>
    </div>
</div>

<table class="payment" hx-get="<?php echo $adminURL ?>?action=listPayment" hx-target="#tableBody" hx-trigger="load">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Müşteri</th>
            <th style="width: 50%;">Açıklama</th>
            <th style="width: 64px;">Türü</th>
            <th style="width: 82px;">Durum</th>
            <th style="width: 120px;">Tutar</th>
            <th style="width: 80px;"&nbsp;</th>
        </tr>
    </thead>
    <tbody id="tableBody" 
        hx-target="closest tr"
        hx-swap="outerHTML swap:1s">
        <tr><td colspan="7" style="text-align: center">Loading...</td></tr>
    </tbody>
</table>