<div class="card">
    <h2 class="title">Ödeme Bilgilerini Düzenle</h2>

    <div hx-get="<?php echo $adminURL ?>?action=getPayment&id=<?php echo $_GET['id'] ?>" hx-trigger="load" hx-target="#user-form">
        <input type="hidden" name="paymentID" value=>        
        <!-- Formun yerleştirileceği yer -->
        <div id="user-form">
            Loading...
        </div>
    </div>
</div>